<div id="map"></div>
<script>



  var map;
  var my_location;
  function initMap() {

    if(navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(function(position){
       var lat = parseFloat(position.coords.latitude);
       var lon = parseFloat(position.coords.longitude);
       console.log(lat);
       console.log(lon);
       my_location = {lat: lat, lng: lon};
       console.log(my_location);
    });
  };



    // console.log(gon.lat);
    var myLatLng = {lat: gon.lat, lng: gon.lng};
    console.log(myLatLng);
    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 12
    });

    var marker = new google.maps.Marker({
       position: myLatLng,
       map: map,
       title: 'Hello World!'
     });




  }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCV_0Qx_HcUnHdLQwzm0BxjNLfcJQdifU&callback=initMap"
async defer></script>
